<table class="table">
  <thead>
    <tr>
      <th>Repo Name</th>
      <th>Student Submissions</th>
      <th>View on GitHub</th>
      <th></th>
    </tr>
  </thead>
  <% @repos.each do |r| %>
    <tr>
      <td><%= r.repo_url %></td>
      <td><%= link_to "Students", "/repos/#{ r.id }" %></td>
      <td><%= link_to "Github", "http://github.com/" + r.repo_url + "/pulls", :target => "_blank" %></td>
      
    </tr>
  <% end %>
</table>
