<h1>Invite a new user</h1>
<h2>What kind of user would you like to invite?</h2>
<div class="role-select">
  <a class="btn btn-large btn-success" href="<%= new_student_user_invites_path %>">Student</a>
</div>
