
 // Breakpoint definitions for media queries
 $large-screen: em(860);

 // Typography
 $base-font-family: helvetica;
 $sans-serif: "pt-sans-narrow", helvetica;
 $serif: "merriweather", Georgia, serif;
 $heading-font-family: $sans-serif;

 // Font Sizes
 $base-font-size: 18px;

 // Line height
 $base-line-height: 1.5;
 $heading-line-height: 1.2;

 // Other Sizes
 $base-border-radius: 0.25rem;
 $base-spacing: $base-line-height * 1rem;
 $small-spacing: $base-spacing / 2;
 $base-z-index: 0;

 // Colors
 $light-gray: #ddd;

 $ada-dark-green: rgb(16, 34, 48);
 $ada-med-green1: rgb(38, 76, 51);
 $ada-med-green2: rgb(70, 120, 39);
 $ada-light-green: rgb(134, 157, 74);
 $ada-yellow: rgb(199, 163, 79);

 // Font Colors
 $base-font-color: $ada-dark-green;
 $action-color: $ada-med-green1;

 // Border
 $base-border-color: $light-gray;
 $base-border: 1px solid $base-border-color;

 // Background Colors
 $base-background-color: #fff;
 $secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

 // Animations
 $base-duration: 150ms;
 $base-timing: ease;
