<% if flash.keys.length > 0 %>
  <% if flash[:error] %>
    <div class="bg-danger">
      <%= flash_messages(:error) %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="bg-danger">
      <%= flash_messages(:alert) %>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="bg-success">
      <%= flash_messages(:notice) %>
    </div>
  <% end %>
<% end %>
